.content-renderer-wrapper {
  --color-transition: 0.2s;
  line-height: 1.75;
  h2 {
    margin: 36px 0 8px 0;
    font-weight: bold;
    font-size: 1.3rem;
  }
  h3 {
    font-weight: bold;
    margin: 48px 0 4px 0;
    font-size: 1.3rem;
  }
  h4 {
    font-weight: bold;
    margin: 32px 0 4px 0;
    font-size: 1.3rem;
  }

  a {
    transition: color var(--color-transition) ease-out;
  }

  a:hover {
    color: var(--primary-fade);
  }

  p a {
    font-weight: 600;
    color: var(--primary);
    text-decoration: none;
  }

  li a {
    font-weight: 600;
    color: var(--primary);
    text-decoration: none;
  }

  code {
    padding: 4px 8px 4px 8px;
    border-radius: 5px;
    background-color: #27272a;
  }

  .shiki code {
    background-color: transparent;
  }

  ul {
    list-style-type: disc;
    & li {
      padding: 4px 0 4px 0;
      padding-inline-start: 8px;
      list-style-position: inside;
      &::marker {
        color: var(--text-gray);
      }
    }
  }
}
